html {
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: hsla(205, 79%, 5%, 1);
}

header.topheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(./images/background_space.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.myphoto {
  width: 200px;
  height: 200px;
  border-radius: 0.25em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  /*align-self: center;*/
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header li img {
  /*width:  5em;
  height: 3em;*/
  border-radius: 0.25em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*@media (max-width: 768px) {
  header ul {
    width: 25%;
    justify-content: space-around;
  }

  header li img {
    width: 200px;
    height: 200px;
  }


}*/

blockquote {
  background-color: hsla(0, 100%, 100%, 0.5);
  border-radius: 0.25em;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 4em;
}

blockquote.triangle::after {
  content: "";
  background-image: url(./images/tri.png);
  opacity: 0.2;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 22px;
}

blockquote h1 {
  color: hsla(0, 0%, 21%, 1);
}

blockquote h4 {
  color: hsla(0, 0%, 21%, 1);
}

header ul {
  background-color: hsla(0, 0%, 0%, 0.5);
  list-style-type: none;
}

main {
  background-color: #031019;
  color: white;
}

article {
  background-color: hsla(0, 100%, 100%, 1);
  color: hsla(0, 0%, 21%, 0.75);
  margin: 1em;
  border-radius: 0.25em;
}

article div {
  padding: 1em;
}

.keepreading {
  background-color: hsla(204, 100%, 42%, 1);
  padding: 10px;
  font-weight: bold;
  position: relative;
  right: -300px;
  bottom: -10px;
  border: 1px solid hsl(200, 60%, 50%);
  border-radius: 4px;
}

.keepreading:link,
.keepreading:visited {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
}

footer h2 {
  margin-top: 4em;
  margin-bottom: 2.5em;
  text-align: center;
}

footer li {
  list-style-type: none;
  font-size: 3em;
  /*display: flex;*/
  display: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.3em;
  padding: 0.4em;
  /*align-content: space-between;*/
  background-color: hsla(204, 100%, 42%, 1);
  border-radius: 50%;
}

footer ul {
  margin-bottom: 5em;
}
footer a {
  color: white;

}

footer h6 {
  text-align: center;
  /*font-size: 3em;*/
}
