html {
  /*min-height: 100%;*/
  text-size-adjust: 100%;
}

body {
  /*border: 3px solid goldenrod;*/
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: hsla(205, 79%, 5%, 1);
}

header {
  border: 3px solid goldenrod;
  background-image: url(./images/background_space.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.myphoto {
  width: 10em;
  height: 10em;
  border-radius: 0.25em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*margin-top: 10em;
  margin-left: 10em;
  margin-right: 10em;*/
  /*align-self: center;*/
}

header ul {
  /*border: 3px solid goldenrod;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: hsla(205, 79%, 5%, 0.5);
  padding: 1em;
}

header li img {
  border: 3px solid goldenrod;
  /*width:  5em;
  height: 3em;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25em;
}

blockquote {
  background-color: hsla(0, 100%, 100%, 0.5);
  border-radius: 0.25em;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 4em;
  /*border: 3px solid goldenrod;*/
}

.triangle {
  content: "";
  opacity: 0.5;
  /*background-repeat: no-repeat;
  background-size: cover;*/
  height: 1.5em;
  width: 1.5em;
  /*display: block;*/
  position: relative;
  bottom: -52px;
  left: 10px;76
}

blockquote h1 {
  color: hsla(0, 0%, 21%, 1);
}

blockquote h4 {
  color: hsla(0, 0%, 21%, 1);
}

/*@media (max-width: 768px) {
  header ul {
    width: 25%;
    justify-content: space-around;
  }

  header li img {
    width: 200px;
    height: 200px;
  }


}*/

main {
  /*border: 3px solid goldenrod;*/
  background-color: #031019;
  color: white;
}

article {
  /*border: 3px solid goldenrod;*/
  background-color: hsla(0, 100%, 100%, 1);
  color: hsla(0, 0%, 21%, 0.75);
  margin: 1em;
  border-radius: 0.25em;
}

article p {
  height: 4em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25em 0.25em 0 0;
}


article div {
  padding: 1em;
}

time {
  font-size: .75em;
  font-weight: lighter;
}

.keepreading {
  background-color: hsla(204, 100%, 42%, 1);
  padding: 10px;
  font-weight: bold;
  position: relative;
  right: -300px;
  bottom: -10px;
  border: 1px solid hsl(200, 60%, 50%);
  border-radius: 4px;
}

.keepreading:link,
.keepreading:visited {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
}

footer h2 {
  margin-top: 4em;
  margin-bottom: 2.5em;
  text-align: center;
}

footer ul {
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
}

footer li {
  list-style-type: none;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
  background-color: hsla(204, 100%, 42%, 1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

footer a {
  color: white;
}

footer h6 {
  text-align: center;
  /*font-size: 3em;*/
}

@media (max-width: 768px) {
  footer ul {
    flex-direction: column;
  }
}
